@layer utilities {
	/* .icon {
	  width: 0.75em;
	  width: 1cap;
	  height: 0.75em;
	  height: 1cap;
	}

	.with-icon {
	  display: inline-flex;
	  align-items: baseline;
	}

	.with-icon .icon {
	  margin-inline-end: 1rem;
	} */

	/* Container edits
	.container {
		box-sizing: content-box;
	}

	.container .container {
		box-sizing: border-box;
		padding-left: 0;
		padding-right: 0;
	}*/
}
