<div class="fj-not-prose fj-grid fj-gap-4 fj-place-items-center">

  {% if module.company_logo %}

    {% if module.company_logo.src %}
      <img width="200" height="40"
           src="{{ resize_image_url(module.company_logo.src, 200, 40, 200) }}"
           alt="{{ module.company_logo.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% endif %}

  {% endif %}

  <blockquote class="fj-text-xl sm:fj-text-2xl fj-max-w-3xl fj-mx-auto">
    <p class="fj-font-semibold fj-text-center fj-m-0 fj-text-balance">{{ module.blockquote }}</p>
  </blockquote>

  <div class="fj-flex fj-flex-col fj-justify-center fj-items-center">

    {% if module.author_photo %}

      {% if module.author_photo.src %}
        <img style="height: 64px; width: 64px; border-radius: 64px"
             width="64" height="64"
             src="{{ resize_image_url(module.author_photo.src, 64, 64, 64) }}"
             alt="{{ module.author_photo.alt|escape_attr }}" loading="lazy">
      {% endif %}

    {% endif %}

    {% if module.author_name or module.author_job_title %}

      <div class="fj-flex fj-items-center fj-justify-center fj-gap-2 fj-text-base fj-break-words fj-mt-2">
        <p class="fj-font-bold">{{ module.author_name or "" }}</p>

        {% if module.author_name and module.author_job_title %}
          <p> · </p>
        {% endif %}

        <p>{{ module.author_job_title or "" }}</p>
      </div>

    {% endif %}

  </div>

</div>
