<div class="not-prose container relative mx-auto max-w-lg lg:max-w-3xl">
  <div class="grid place-items-center gap-4">
    {% if module.company_logo.src %}
      {% set sizeAttrs = 'width="{{ module.company_logo.width|escape_attr }}" height="{{ module.company_logo.height|escape_attr }}"' %}
      {% if module.company_logo.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.company_logo.width|escape_attr }}" height="{{ module.company_logo.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
        {% elif module.company_logo.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.company_logo.max_width|escape_attr }}" height="{{ module.company_logo.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
      {% set loadingAttr = module.company_logo.loading != 'disabled' ? 'loading="{{ module.company_logo.loading|escape_attr }}"' : '' %}
      <img src="{{ module.company_logo.src|escape_url }}" alt="{{ module.company_logo.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% endif %}

    <blockquote class="text-xl md:text-2xl">
      <p class="font-semibold text-center text-balance">{{ module.blockquote }}</p>
    </blockquote>

    <div class="flex flex-col justify-center items-center">
      {% if module.author_photo %}
        {% if module.author_photo.src %}
          <img class="object-cover size-16 rounded-full"
               width="64" height="64"
               src="{{ resize_image_url(module.author_photo.src, 64, 64, 64) }}"
               alt="{{ module.author_photo.alt|escape_attr }}" loading="lazy">
        {% endif %}
      {% endif %}

      {% if module.author_name or module.author_job_title %}
        <div class="flex items-center justify-center gap-2 text-base break-words mt-2">
          <p class="font-bold">{{ module.author_name or "" }}</p>

          {% if module.author_name and module.author_job_title %}
            <p> · </p>
          {% endif %}

          <p>{{ module.author_job_title or "" }}</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>
