# Apple macOS
.DS_Store
.DS_Store?
*/.DS_Store

# Node files
node_modules

# IntelliJ IDEA
.idea

# Work directories
_temp/*
_dist/*
hubspot.config.yml
package-lock.json

#Hubspot
theme/modules/*/_locales

# Misc
*.log
NOTEPAD
