{% from '../../macros/slugify.html' import slugify %}
{% from '../../macros/minutes-to-read.html' import minutes_to_read %}

{% set blog_id = module.selected_blog.id or group.id %}

{% if module.show_featured_article %}
  {% if module.featured_article %}
    {% set featured_post = content_by_id(module.featured_article) %}
  {% else %}
    {% set featured_post = blog_recent_posts(blog_id, 1) | first %}
  {% endif %}
{% endif %}

{% if module.show_search_bar or module.show_tags_filter or blog_author or tag %}
  {% set my_tags = blog_tags(blog_id, 250) %}
  {% set currentURL = content.absolute_url | split('/page/') | first | regex_replace('^(http|https):', '') %}

  <div class="grid gap-8 md:items-end md:grid-cols-2 lg:grid-cols-3 md:gap-12 mb-8 md:mb-12">

    {% if blog_author or tag %}

      <div class="prose sm:prose-lg md:prose-xl !leading-none">
        <a class="inline-flex items-center gap-2 group no-underline" href="{{ group.absolute_url }}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" class="size-5 group-hover:-translate-x-2 transition-transform" width="48" height="48"><path d="M228,128a12,12,0,0,1-12,12H69l51.52,51.51a12,12,0,0,1-17,17l-72-72a12,12,0,0,1,0-17l72-72a12,12,0,0,1,17,17L69,116H216A12,12,0,0,1,228,128Z"></path></svg>
          <span>Back to Blog</span>
        </a>
      </div>

    {% elif module.show_search_bar %}

      {% set search_page = site_settings.content_search_results_page_path %}
      {% unless (search_page is string_containing "//") %}
        {% set search_page = "/" ~ search_page %}
      {% endunless %}
      {% set search_page = search_page|regex_replace("http:", "") %}

      <form class="w-full"
            data-hs-do-not-collect="true"
            x-ref="searchForm"
            x-data="{
              action: `{{ search_page }}`,
              formData: {
                q: `{{ request.query_dict.q or '' }}`,
                type: `{{ request.query_dict.type or 'BLOG_POST' }}`
              },
              submitSearchForm() {
                if (this.formData.q.length > 0) {
                  this.$refs.searchForm.action = this.action + `?q=${this.formData.q}&type=${this.formData.type}`;
                  this.$refs.searchForm.submit();
                }
              }
            }"
            @submit="submitSearchForm()"
            action="{{ search_page }}">
        <label for="blog-search" class="{{ "sr-only" if not module.search_label_text }}">{{ module.search_label_text or "Search blog" }}</label>
        <div class="relative">
          <input type="text"
                 id="blog-search" name="q"
                 placeholder="{{ module.search_placeholder_text }}"
                 class="!pr-10" value="" x-model="formData.q">
          <span class="absolute z-10 top-0 right-0 h-full px-2.5 flex items-center cursor-pointer rounded-full"
                @click="submitSearchForm()">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6" width="32" height="32" fill="currentColor" viewBox="0 0 256 256"><path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path></svg>
          </span>
        </div>
        <input type="hidden" name="type" value="BLOG_POST" x-model="formData.type">
        <button class="sr-only" aria-label="Search">Search</button>
      </form>

    {% endif %}

    {% if not blog_author and module.show_tags_filter %}
    <form class="w-full md:col-start-2 lg:col-start-3"
          x-data="{tag:'{{ currentURL }}'}"
          x-init="$watch('tag', value => window.location.href = value)"
          @submit.prevent="$event.preventDefault()">
      <label for="tag-select" class="{{ "sr-only" if not module.filter_label_text }}">{{ module.filter_label_text or "Filter by tag" }}</label>
      <select name="tag-select" id="tag-select" x-model="tag">
        <option {{ 'selected="selected"' if currentURL == group.absolute_url | regex_replace('^(http|https):', '') }}
          value="{{ group.absolute_url | regex_replace('^(http|https):', '') }}">{{ module.filter_placeholder_text or "All" }}</option>
        {% for item in my_tags %}
          <option {{ 'selected="selected"' if currentURL == blog_tag_url(group.id, item.slug) | regex_replace('^(http|https):', '') }}
            value="{{ blog_tag_url(group.id, item.slug) | regex_replace('^(http|https):', '') }}">{{ item }}</option>
        {% endfor %}
      </select>
    </form>
    {% endif %}

  </div>
{% endif %}

<div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 md:gap-12">

  {% if module.show_featured_article and not (blog_author or tag) %}
    <article class="rounded-md border border-stone-200 relative group transition-all ease-in-out duration-200 hover:shadow-xl md:col-span-2 lg:col-span-3 md:grid-cols-2 md:gap-12 grid overflow-hidden bg-amber-50"
             id="{{ slugify(featured_post.name) }}"
             data-post-id="{{ featured_post.id }}">
          <div class="">
              {% if featured_post.featured_image %}
                {% set featured_image = resize_image_url( featured_post.featured_image, 600, 315, 600 ) %}
              {% endif %}
              <img src="{{ featured_image or 'https://resources.freshjuice.dev/images/600/composition-with-glass-of-watermelon-juice-and-sli.jpg' }}"
                   alt="{{ featured_post.name | striptags | safe }}"
                   width="600" height="315"
                   class="m-0 w-full md:h-full object-cover aspect-video"/>
          </div>
          <div class="text-balance p-4 md:p-8 md:pl-0 pb-14 md:pb-16">
            <span class="text-xs font-bold uppercase text-stone-500 tracking-wider mb-3 flex justify-between gap-4">
              <span>Featured</span>
              {% if module.show_read_time %}
                <span>{{ minutes_to_read(featured_post, '', ' min read') }}</span>
              {% endif %}
            </span>
            <h2 class="text-xl md:text-2xl lg:text-4xl mb-3">
              <a href="{{ featured_post.absolute_url }}"
                 class="!no-underline !text-current !font-bold"
                 aria-label="Read full post: {{ featured_post.title | striptags }}">
                <span class="absolute z-10 inset-0"></span>
                {{ featured_post.name | striptags | safe }}
              </a>
            </h2>
            <p class="line-clamp-3 text-base md:text-lg lg:text-xl">
              {% set post_words = featured_post.post_body | replace('&nbsp;', ' ') | striptags | trim | safe | split(' ') %}
              {% if post_words | length %}
                {% for word in post_words[0:55] %}
                  {% if not loop.last %}{{ word + ' ' }}{% else %}{{ word|cut('.') }}&hellip;{% endif %}
                {% endfor %}
              {% else %}
                {{ featured_post.meta_description | striptags | safe }}
              {% endif %}
            </p>
            <span class="absolute right-4 md:right-8 bottom-5 group-hover:underline text-base">Read more</span>
          </div>
    </article>
  {% endif %}

  {# Blog listing #}
  {% for content in contents %}
    {% if content.id != featured_post.id or (blog_author or tag) %}
      <article class="rounded-md border border-stone-200 relative group transition-all ease-in-out duration-200 hover:shadow-xl flex flex-col overflow-hidden bg-amber-50"
               id="{{ slugify(content.title) }}"
               data-post-id="{{ content.id }}">
        <div class="aspect-video">
          {% if content.featured_image %}
            {% set featured_image = resize_image_url( content.featured_image, 360, 189, 360 ) %}
          {% endif %}
          <img src="{{ featured_image or 'https://resources.freshjuice.dev/images/400/a-rainbow-of-refreshments-a-table-filled-with-gla.jpg' }}"
               alt="{{ content.name | striptags | safe }}"
               width="360" height="189"
               class="m-0 w-full object-cover aspect-video"/>
        </div>
        <div class="text-balance pt-4 px-4 pb-14">
          <span class="text-xs font-bold uppercase text-stone-500 tracking-wider mb-3 flex justify-between gap-4">
            <span>{{ content.publish_date|format_date('MMM d, yyyy') }}</span>
            {% if module.show_read_time %}
              <span>{{ minutes_to_read(content, '', ' min read') }}</span>
            {% endif %}
          </span>
          <h2 class="text-xl mb-3">
            <a href="{{ content.absolute_url }}"
               class="!no-underline !text-current !font-bold"
               aria-label="Read full post: {{ content.title | striptags }}">
              <span class="absolute z-10 inset-0"></span>
              {{ content.title | striptags }}
            </a>
          </h2>
          <p class="line-clamp-3 text-base md:text-lg lg:text-xl">
            {% set post_words = content.post_body | replace('&nbsp;', ' ') | striptags | trim | safe | split(' ') %}
            {% if post_words | length %}
              {% for word in post_words[0:55] %}
                {% if not loop.last %}{{ word + ' ' }}{% else %}{{ word|cut('.') }}&hellip;{% endif %}
              {% endfor %}
            {% else %}
              {{ content.meta_description | striptags | safe }}
            {% endif %}
          </p>
          <span class="absolute right-4 bottom-5 group-hover:underline text-base">Read more</span>
        </div>
      </article>
    {% endif %}

  {% endfor %}

</div>
