<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Blog Post - Classic with Sidebar
  screenshotPath: ../images/template-previews/blog-post.png
-->

{% extends "./layouts/base.html" %}

{% block body %}

<header class="article__header fj-bg-gradient-60 fj-from-orange-100 fj-via-red-100 fj-to-amber-100 fj-min-h-56 md:fj-min-h-96 fj-flex fj-justify-center fj-items-center">
  <div class="container fj-w-full fj-text-center fj-prose sm:fj-prose-lg md:fj-prose-xl fj-text-balance">
    <h1 x-balance-text>{{ content.name | striptags }}</h1>
  </div>
</header>


<div class="container fj-grid lg:fj-grid-cols-3 fj-gap-8 lg:fj-gap-12">
  <div class="lg:fj-col-span-2">
    <article class="">
      <div class="article__body">
        <div class="fj-mx-auto fj-prose sm:fj-prose-lg md:fj-prose-xl [&_img]:fj-rounded-md">

          <div class="article__header__meta md:fj-text-lg fj-mb-8">
            <div class="fj-mb-2">
              Posted by
              <a href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}"
                 class="fj-text-current"
                 rel="author">{{ content.blog_post_author.display_name }}</a>
              on
              <time datetime="{{ content.publish_date }}" class="">{{ content.publish_date_localized }}</time>
            </div>
            <hr class="!fj-m-0">
          </div>

          {% if request.query_dict._preview == 'true' %}
            {{ content.post_body }}
          {% else %}
            {{ content.post_body_rss }}
          {% endif %}

          {% if content.tag_list %}
            <ul class="article__tags fj-list-none fj-flex fj-flex-wrap fj-gap-2 !fj-p-0">
              {% for tag in content.tag_list %}
                <li class="!fj-m-0 !fj-p-0 fj-italic">
                  <a class="fj-no-underline hover:fj-underline"
                     href="{{ blog_tag_url(group.id, tag.slug) }}"
                     rel="tag">#{{ tag.name }}</a>{% if not loop.last %},{% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

      <footer class="article__footer fj-pt-8">
        <div class="fj-mx-auto fj-prose sm:fj-prose-lg md:fj-prose-xl">

          {% if content.blog_post_author %}
            <hr>

            {% module "global-post-author"
              path="/FreshJuice/modules/global-post-author",
              label="Post Author",
              no_wrapper=True
            %}
          {% endif %}

          <hr>

          {% module "global-share-buttons"
            path="../modules/global-share-buttons",
            label="Share Buttons",
            no_wrapper=True
          %}

          {# Ppagination #}
          {% if content.previous_post_name or content.next_post_name %}

            <hr>

            <div class="fj-flex fj-flex-wrap fj-gap-y-6 fj-gap-x-10 fj-justify-between fj-items-center fj-mt-8">
              {% if content.previous_post_name %}
                <div class="fj-mr-auto fj-ml-0">
                  <a href="/{{ content.previous_post_slug }}"
                     class="fj-flex fj-items-center fj-gap-2 fj-no-underline fj-group fj-leading-tight">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" class="fj-size-5 group-hover:-fj-translate-x-2 fj-transition-transform" width="48" height="48"><path d="M228,128a12,12,0,0,1-12,12H69l51.52,51.51a12,12,0,0,1-17,17l-72-72a12,12,0,0,1,0-17l72-72a12,12,0,0,1,17,17L69,116H216A12,12,0,0,1,228,128Z"></path></svg>
                    <span>{{ content.previous_post_name }}</span>
                  </a>
                </div>
              {% endif %}
              {% if content.next_post_name %}
                <div class="fj-text-right fj-ml-auto fj-mr-0">
                  <a href="/{{ content.next_post_slug }}"
                     class="fj-flex fj-items-center fj-gap-2 fj-no-underline fj-group fj-leading-tight">
                    <span>{{ content.next_post_name }}</span>
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" class="fj-size-5 group-hover:fj-translate-x-2 fj-transition-transform" width="48" height="48"><path d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"></path></svg>
                  </a>
                </div>
              {% endif %}
            </div>

          {% endif %}

          <hr>

        </div>
      </footer>
    </article>

    {% if group.allow_comments %}
      <div class="blog-comments fj-mt-12">
        <div class="fj-mx-auto fj-prose sm:fj-prose-lg md:fj-prose-xl [&_form]:fj-bg-transparent">
          <h3>Comments</h3>
          <div class="blog-comments__form">
            {% module "blog_comments"
              path="@hubspot/blog_comments",
              label="Blog comments",
              no_wrapper=True
            %}
          </div>
          <hr class="lg:fj-hidden">
        </div>
      </div>
    {% endif %}
  </div>

  <aside class="">
      <div class="fj-mx-auto fj-prose sm:fj-prose-lg md:fj-prose-xl fj-mb-8 lg:fj-mb-12">
        <h2 class="md:fj-leading-none">Related Posts</h2>
        {% module "related-posts"
          path="../modules/related-posts",
          label="Related Posts",
          layout="col",
          no_wrapper=True
        %}
      </div>

  </aside>


</div>







{% endblock body %}
