<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Blog Post - Classic with Sidebar
  screenshotPath: ../images/template-previews/blog-post.png
-->

{% extends "./layouts/base.html" %}

{% block body %}

<header class="article__header bg-gradient-60 from-orange-100 via-red-100 to-amber-100 min-h-56 md:min-h-96 flex justify-center items-center">
  <div class="container w-full text-center prose sm:prose-lg md:prose-xl text-balance">
    <h1 x-balance-text>{{ content.name | striptags }}</h1>
  </div>
</header>


<div class="container grid lg:grid-cols-3 gap-8 lg:gap-12">
  <div class="lg:col-span-2">
    <article class="">
      <div class="article__body">
        <div class="mx-auto prose sm:prose-lg md:prose-xl [&_img]:rounded-md [&>span]:block">

          <div class="article__header__meta md:text-lg mb-8">
            <div class="mb-2">
              Posted
              {% if content.blog_post_author %}
              by
              <a href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}"
                 class="text-current"
                 rel="author">{{ content.blog_post_author.display_name }}</a>
              {% endif %}
              on
              <time datetime="{{ content.publish_date }}" class="">{{ content.publish_date_localized }}</time>
            </div>
            <hr class="m-0!">
          </div>

          {{ content.post_body }}

          {% if content.tag_list %}
            <ul class="article__tags list-none flex flex-wrap gap-2 p-0!">
              {% for tag in content.tag_list %}
                <li class="m-0! p-0! italic">
                  <a class="no-underline hover:underline"
                     href="{{ blog_tag_url(group.id, tag.slug) }}"
                     rel="tag">#{{ tag.name }}</a>{% if not loop.last %},{% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

      <footer class="article__footer pt-8">
        <div class="mx-auto prose sm:prose-lg md:prose-xl">

          {% if content.blog_post_author %}
            <hr>

            {% module "global-post-author"
              path="/FreshJuice/modules/global-post-author",
              label="Post Author",
              no_wrapper=True
            %}
          {% endif %}

          <hr>

          {% module "global-share-buttons"
            path="../modules/global-share-buttons",
            label="Share Buttons",
            no_wrapper=True
          %}

          {# Ppagination #}
          {% if content.previous_post_name or content.next_post_name %}

            <hr>

            <div class="flex flex-wrap gap-y-6 gap-x-10 justify-between items-center mt-8">
              {% if content.previous_post_name %}
                <div class="mr-auto ml-0">
                  <a href="/{{ content.previous_post_slug }}"
                     class="flex items-center gap-2 no-underline group leading-tight">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" class="size-5 group-hover:-translate-x-2 transition-transform" width="48" height="48"><path d="M228,128a12,12,0,0,1-12,12H69l51.52,51.51a12,12,0,0,1-17,17l-72-72a12,12,0,0,1,0-17l72-72a12,12,0,0,1,17,17L69,116H216A12,12,0,0,1,228,128Z"></path></svg>
                    <span>{{ content.previous_post_name }}</span>
                  </a>
                </div>
              {% endif %}
              {% if content.next_post_name %}
                <div class="text-right ml-auto mr-0">
                  <a href="/{{ content.next_post_slug }}"
                     class="flex items-center gap-2 no-underline group leading-tight">
                    <span>{{ content.next_post_name }}</span>
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" class="size-5 group-hover:translate-x-2 transition-transform" width="48" height="48"><path d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"></path></svg>
                  </a>
                </div>
              {% endif %}
            </div>

          {% endif %}

          <hr>

        </div>
      </footer>
    </article>

    {% if group.allow_comments %}
      <div class="blog-comments mt-12">
        <div class="mx-auto prose sm:prose-lg md:prose-xl [&_form]:bg-transparent">
          <h3>Comments</h3>
          <div class="blog-comments__form">
            {% module "blog_comments"
              path="@hubspot/blog_comments",
              label="Blog comments",
              no_wrapper=True
            %}
          </div>
          <hr class="lg:hidden">
        </div>
      </div>
    {% endif %}
  </div>

  <aside class="">
      <div class="mx-auto prose sm:prose-lg md:prose-xl mb-8 lg:mb-12">
        <h2 class="md:leading-none">Related Posts</h2>
        {% module "related-posts"
          path="../modules/related-posts",
          label="Related Posts",
          layout="col",
          no_wrapper=True
        %}
      </div>

  </aside>

</div>

{% module "scroll-to-top"
  path="../modules/global-scroll-to-top",
  label="global-scroll-to-top",
  no_wrapper=True
%}

{% endblock body %}
