.blog-comments {

}

.blog-comments__form {

  #comments-listing {

    h1, h2, h3, h4, h5, h6 {
      @apply m-0!;
    }

    h4 {
      @apply text-lg md:text-xl;
    }
    .comment-body * {
      @apply mt-0! mb-3!;
    }

    .comment-reply-to.hs-button {
      @apply py-0 pr-0 bg-transparent mb-4 text-base md:text-lg normal-case font-normal;
      &:hover {
       background-position-x: 0;
      }
    }

    .comment.depth-0 {
      border-color: var(--prose-hr);
      border-top-width: 1px;
    }

    & > *:last-child {
      border-bottom: 1px solid var(--prose-hr);
      padding-bottom: 2em;
      margin-bottom: 2em;
    }
  }



  form {
    @apply md:grid md:grid-cols-2 md:gap-x-6 md:gap-y-3;

    & > *:not(.hs-firstname):not(.hs-lastname):not(.hs-email):not(.hs-website) {
      @apply md:col-span-2;
    }

    .hs_recaptcha {
      @apply my-3;
    }
  }
}




