{% set widget_id = name | split('widget_') | last  %}

<div
  x-data="{
     selectedId: null,
     init() { this.$nextTick(() => this.select(this.$id('tab', 1))) },
     select(id) { this.selectedId = id },
     isSelected(id) { return this.selectedId === id },
     whichChild(el, parent) { return Array.from(parent.children).indexOf(el) + 1 }
  }"
  x-id="['tab']"
  class="fj-mx-auto fj-w-full">
  <ul
    x-ref="tablist_{{ widget_id }}"
    @keydown.right.prevent.stop="$focus.wrap().next()"
    @keydown.home.prevent.stop="$focus.first()"
    @keydown.page-up.prevent.stop="$focus.first()"
    @keydown.left.prevent.stop="$focus.wrap().prev()"
    @keydown.end.prevent.stop="$focus.last()"
    @keydown.page-down.prevent.stop="$focus.last()"
    role="tablist"
    class="-fj-mb-px fj-flex fj-items-stretch">
    {% for item in module.tabs %}
      <li>
        <button
          :id="$id('tab', whichChild($el.parentElement, $refs.tablist_{{ widget_id }}))"
          @click="select($el.id)"
          @mousedown.prevent
          @focus="select($el.id)"
          type="button"
          :tabindex="isSelected($el.id) ? 0 : -1"
          :aria-selected="isSelected($el.id)"
          :class="isSelected($el.id) ? 'fj-border-gray-200 fj-bg-cursor' : 'fj-border-transparent'"
          class="fj-inline-flex fj-rounded-t-md fj-border-t fj-border-l fj-border-r fj-px-5 fj-py-2.5"
          role="tab"
        >{{ item.tab_name }}</button>
      </li>
    {% endfor %}
  </ul>

  <div role="tabpanels" class="fj-rounded-md fj-border fj-border-gray-200 fj-fj-bg-cursor" :class="selectedId.endsWith('1')?`fj-rounded-tl-none`:``">
    {% for item in module.tabs %}
      <section
        x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
        :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
        role="tabpanel"
        class="fj-p-8">
        <div class="fj-prose sm:fj-prose-lg md:fj-prose-xl fj-max-w-full">
          {{ item.tab_content }}
        </div>
      </section>
    {% endfor %}
  </div>

</div>
