{% from '../../macros/slugify.html' import slugify %}
{% from '../../macros/random-int.html' import random_int %}

{%- macro get_navbar_logo(classes) -%}
  <a href="{{ request.full_url | replace(request.path, '') }}" class="{{ classes or '-m-1.5 p-1.5' }}">
    <span class="sr-only">{{ module.logo_image.alt or 'Company name' }}</span>
    {% if module.logo_image.src %}
      {% set loadingAttr = module.logo_image.loading != 'disabled' ? '' : '' %}
      <img src="{{ module.logo_image.src }}"
           class="h-14 w-auto"
           alt="{{ module.logo_image.alt or 'Company' }} logo"
           width="{{ module.logo_image.width }}"
           height="{{ module.logo_image.height }}"
           loading="{{ module.logo_image.loading or 'eager' }}">
    {% endif %}
  </a>
{%- endmacro -%}

<header class="bg-white py-3">

  <nav class="container !py-0 flex items-center justify-between" aria-label="Global">

    {# Logo #}
    <div class="flex lg:flex-1">
      {{ get_navbar_logo() }}
    </div>


    {# CTA #}
    {% if module.call_to_actions.title %}
      <div class="flex flex-1 justify-end items-center gap-8">
        {% if module.call_to_actions.style == "ghost" %}
          {% set cta_style = "button button--ghost button--small" %}
        {% elif module.call_to_actions.style == "primary" %}
          {% set cta_style = "button button--small" %}
        {% else %}
          {% set cta_style = "text-sm font-semibold leading-6 text-current" %}
        {% endif %}
        {% set href = module.call_to_actions.link.url.href %}
        {% if module.call_to_actions.link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}"
           class="{{ cta_style }} whitespace-nowrap"
           {% if module.call_to_actions.link.open_in_new_tab %}target="_blank"{% endif %}
          {% if module.call_to_actions.link.rel %}rel="{{ module.call_to_actions.link.rel }}"{% endif %}
        >{{ module.call_to_actions.title | striptags | safe }}</a>
      </div>
    {% endif %}


  </nav>

</header>

