<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer bg-gradient-135 from-amber-100 via-red-100 to-orange-200">
  {% dnd_area "footer"
    label="Footer",
    class="footer__container max-w-full [&_.dnd-section]:py-10 [&_.dnd-section]:md:py-20"
  %}

    {% dnd_section class="p-0" %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="../../modules/global-footer" %}
            {# Global footer here #}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</footer>
