

<footer aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="fj-sr-only">Footer</h2>
  <div class="fj-mx-auto">
    <div class="">
      <div class="fj-flex fj-flex-col md:fj-items-center md:fj-flex-row-reverse md:fj-justify-between fj-gap-4 fj-w-full">
        {% if module.footer_legal_menu %}
        <ul role="list" class="fj-flex fj-flex-wrap fj-gap-4">
          {% set legal_menu = menu(module.footer_legal_menu) %}
          {% for child in legal_menu.children %}
            <li>
              <a href="{{ child.url }}" class="fj-text-sm fj-leading-5 fj-text-stone-600 hover:fj-text-stone-900 fj-no-underline hover:fj-underline">{{ child.label }}</a>
            </li>
          {% endfor %}
        </ul>
        {% else %}
        <div><!-- 🍍 --></div>
        {% endif %}
        <div class="fj-text-sm fj-leading-5 fj-text-stone-600 [&>*]:fj-p-0 [&>*]:fj-m-0">{{ module.copyrights }}</div>
      </div>
    </div>
  </div>
</footer>

