{# This macro is used to format each recent post card and gets passed to the related_blog_posts HubL tag below #}
{% macro related_posts(post, count, total) %}

  {% if count == 1 %}
    <div class="grid gap-8 {{ 'md:grid-cols-3' if module.layout == 'row' }}{{ 'not-prose md:grid-cols-2 lg:grid-cols-1' if module.layout == 'col' }}">
  {% endif %}

  <article class="rounded-md border bg-white border-stone-200 relative group transition-all ease-in-out duration-200 hover:shadow-xl"
           aria-label="Blog post summary: {{ post.name }}">

    <div class="article__thumbnail rounded-t overflow-clip aspect-video">
      {% if post.featured_image %}
          <img class="w-full h-auto object-cover aspect-video"
               src="{{ resize_image_url( post.featured_image, 0, 0, 400 ) }}"
               loading="lazy"
               width="400"
               alt="Featured image: {{ post.featured_image_alt_text or post.name | striptags }}">
      {% endif %}
    </div>

    <div class="article__content px-4 pt-5 pb-14">
      <h3 class="text-xl md:text-2xl text-balance">
        <a href="{{ post.absolute_url }}"
           class="!no-underline !text-current !font-bold"
           aria-label="Read full post: {{ post.name | striptags }}">
          <span class="absolute z-10 inset-0"></span>
          {{ post.name }}
        </a>
      </h3>
      {# {{ post.post_summary | striptags | truncatehtml(100) }} #}
      <span class="absolute right-4 bottom-5 group-hover:underline text-base">Read more</span>
    </div>
  </article>

  {% if count == total %}
    </div>
  {% endif %}

{% endmacro %}


{% if module.layout == 'col' %}

  {% related_blog_posts
    limit=4,
    no_wrapper=True,
    post_formatter="related_posts"
  %}

{% else %}

  {% related_blog_posts
    limit=3,
    no_wrapper=True,
    post_formatter="related_posts"
  %}

{% endif %}
