{% set cols = module.stats_list | length %}

{% if cols == 3 %}
  {% set grid_col_class = 'lg:grid-cols-3' %}
{% endif %}

{% if cols >= 4 %}
  {% set grid_col_class = 'lg:grid-cols-4' %}
{% endif %}

<div class="not-prose grid grid-cols-1 gap-1 text-balance {{ 'sm:grid-cols-2' if cols >= 2 }} {{ grid_col_class }}">
  {% for item in module.stats_list %}
    <div class="grid bg-gray-100 place-items-center text-center p-2">
      <p class="text-3xl font-semibold tracking-tight">{{ item.title }}</p>

      <p class="text-sm">{{ item.subtext }}</p>
    </div>
  {% endfor %}
</div>
