{% if module.stats_list | length == 2 %}
  {% set grid_col_class = 'lg:grid-cols-2' %}
{% endif %}

{% if module.stats_list | length == 3 %}
  {% set grid_col_class = 'lg:grid-cols-3' %}
{% endif %}

{% if module.stats_list | length >= 4 %}
  {% set grid_col_class = 'lg:grid-cols-4' %}
{% endif %}

<div class="not-prose container place-items-center grid grid-cols-1 gap-6 {{ grid_col_class }}">
  {% for item in module.stats_list %}
    <div class="grid gap-2 text-center">
      <p class="text-3xl font-semibold tracking-tight">{{ item.stats_title }}</p>

      <p class="text-sm">{{ item.subtext }}</p>
    </div>
  {% endfor %}
</div>
