<div class="max-w-2xl rounded-3xl ring-1 ring-gray-200 mx-auto lg:mx-0 lg:flex lg:max-w-none">
  <div class="flex flex-col justify-center p-8 sm:p-10 space-y-4 lg:flex-auto">
    <p class="text-2xl font-bold tracking-tight">{{ module.two_column_group.title }}</p>

    <p class="text-base leading-none">{{ module.two_column_group.description }}</p>

    {% if module.two_column_group.features_item | length > 0 %}
      <div class="flex items-center gap-x-4">
        <p class="flex-none text-sm font-semibold leading-6 text-blue-600">{{ module.two_column_group.divider_text }}</p>

        <div class="h-px flex-auto bg-gray-300"></div>
      </div>
    {% endif %}

    <ul role="list" class="grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 md:grid-cols-2 md:gap-6">
      {% for item in module.two_column_group.features_list %}
        <li class="flex gap-x-3">
          <svg class="size-6 flex-none text-blue-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>

          {{ item }}
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
    <div class="rounded-2xl bg-gray-50 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
      <div class="grid gap-4 mx-auto max-w-xs px-8">
        <p class="text-base font-semibold">{{ module.one_column_price_card.slogan }}</p>

        <div class="flex items-baseline justify-center gap-x-2">
          <span class="text-5xl font-bold">{{ module.one_column_price_card.cost }}</span>

          <span class="text-sm font-semibold leading-6">{{ module.one_column_price_card.cost_details }}</span>
        </div>

        {% set href = module.one_column_price_card.cta_link.url.href %}
        {% if module.one_column_price_card.cta_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}

        <a class="button button--small normal-case	text-sm text-white font-semibold text-center"
           href="{{ href|escape_url }}" {% if module.one_column_price_card.cta_link.open_in_new_tab %}
           target="_blank"{% endif %} {% if module.one_column_price_card.cta_link.rel %}
           rel="{{ module.one_column_price_card.cta_link.rel|escape_attr }}"{% endif %}>
          {{ module.one_column_price_card.cta_text }}
        </a>

        <p class="text-xs leading-5">{{ module.one_column_price_card.sub_text }}</p>

      </div>
    </div>

  </div>
</div>