<!--
  templateType: page
  isAvailableForNewContent: true
  label: FreshJuice - 403 Forbidden
  screenshotPath: ../../images/template-previews/403.png
-->
{% extends "../layouts/base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "403 Forbidden" %}

{% block body %}
<section class="min-h-screenSinNav grid items-center error-page" data-error="404">
  <div class="container grid gap-8 md:grid-cols-2 items-center">
    <div class="prose sm:prose-lg md:prose-xl [&_img]:rounded-md">
      {% module_block module "content" path="@hubspot/rich_text", no_wrapper=True %}
        {% module_attribute "html" %}
          <p><small><b>{{ pageTitle }}</b></small></p>
          <h1>Sorry, you don't have access</h1>
          <p>
            You don't have permission to view this page.<br/>
            Contact the site's administrator for questions.
          </p>
        {% end_module_attribute %}
      {% end_module_block %}
    </div>
      {% module "light-youtube"
        path="../../modules/lite-youtube",
        label="YouYube",
        url="https://www.youtube.com/watch?v=dQw4w9WgXcQ",
        no_wrapper=True %}
  </div>
</section>
{% endblock body %}
