<!--
  templateType: membership_reset_page
  isAvailableForNewContent: true
  label: FreshJuice - reset password
  screenshotPath: ../../images/template-previews/membership-reset-password.png
-->
{% extends "../layouts/base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Membership | Reset password" %}


{% block header %}
  {% global_partial path="../partials/header-no-navigation.html" %}
{% endblock %}


{% block body %}
  <section class="min-h-screenSinNav systems-page">
    <div class="container">
      <div class="mx-auto prose sm:prose-lg md:prose-xl [&_img]:rounded-md">
        {% module "content"
          path="@hubspot/rich_text",
          html="<h1>Reset your password</h1><p>Enter a new password.</p>"
        %}
        <div class="form-container not-prose"
             x-init="
             document.querySelectorAll('.hs-reset-widget-show-password').forEach(el => {
               el.addEventListener('click', (event) => {
                 event.preventDefault();
                 let input = el.nextElementSibling;
                 el.innerHTML = input.type === 'password' ? 'Hide password' : 'Show password';
                 input.type = input.type === 'password' ? 'text' : 'password';
               });
             });
           ">
          {% password_reset "my_password_reset"
            password_confirm_label="Confirm Password",
            password_label="Password",
            submit_button_text= "Save Password"
          %}
        </div>
        <div>
          {% module_block module "membership_admin_content"
            label="Contact admin",
            path="@hubspot/rich_text"
          %}
            {% module_attribute "html" %}
              <p>Having trouble? <a href="{{"mailto:" ~ site_settings.membershipWebsiteAdmin}}">Contact the admin</a>.</p>
            {% end_module_attribute %}
          {% end_module_block %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block footer %}
  {% global_partial path="../partials/footer-for-lp.html" %}
{% endblock footer %}
