<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: FreshJuice - password prompt
  screenshotPath: ../../images/template-previews/password-prompt.png
-->
{% extends "../layouts/base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "This page is private | Enter password" %}


{% block header %}
  {% global_partial path="../partials/header-no-navigation.html" %}
{% endblock %}


{% block body %}
  <section class="fj-min-h-screenSinNav systems-page">
    <div class="container">
      <div class="fj-mx-auto fj-prose sm:fj-prose-lg md:fj-prose-xl [&_img]:fj-rounded-md">
        {% module "content"
          path="@hubspot/rich_text",
          html="<h1>Password Required</h1><p>Please enter the password required to view this page.</p>"
        %}
        <div class="form-container fj-not-prose">
          {% module "password_prompt"
            extra_classes="password-prompt",
            path="@hubspot/password_prompt"
          %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block footer %}
  {% global_partial path="../partials/footer-for-lp.html" %}
{% endblock footer %}
