{% if module.flip_cards_list | length == 3 %}
  {% set grid_col_class = 'lg:grid-cols-3' %}
{% endif %}

<div class="not-prose container grid grid-cols-1 place-items-center gap-8 mx-auto {{ grid_col_class or '' }}">
  {% for flipcard in module.flip_cards_list %}
    <div class="min-h-[375px] max-w-sm relative w-full h-full
                transform transition-all transform-style-3d perspective-1000 group">
      <!-- front of the card -->
      <div class="absolute inset-0 flex flex-col justify-start items-center bg-stone-100 rounded-lg p-8
                  transform transition-all duration-500 backface-hidden group-hover:rotate-y-180">
        <div class="flex justify-center">
          <img src="{{ flipcard.avatar.src }}"
               class="size-40 border-4 rounded-full object-cover"
               style="border-color: #FFBD01"
               alt="{{ flipcard.avatar.alt|escape_attr or 'Headshot'}}"
               width="{{ flipcard.avatar.width }}"
               height="{{ flipcard.avatar.height }}"
               loading="{{ flipcard.avatar.loading != 'disabled' ? '' : 'eager' }}">
        </div>
        <div class="grid mt-6 text-center">
          <span class="text-terminal font-semibold">{{ flipcard.title }}</span>
          <span class="text-slate text-sm lg:text-base">{{ flipcard.second_title }}</span>
          <span class="text-slate text-sm lg:text-base">{{ flipcard.card_details}}</span>
        </div>
      </div>
      <!-- back of the card -->
      <div class="absolute inset-0 flex justify-center items-center bg-stone-100 rounded-lg p-8
                  transition-all transform duration-500 rotate-y-180 backface-hidden group-hover:rotate-y-0">
        <span class="mb-0 text-base text-left">{{ flipcard.description }}</span>
      </div>
    </div>
  {% endfor %}
</div>
