{% set buttonName = {
  "fb": "Facebook",
  "vk": "VK",
  "tw": "Twitter",
  "tg": "Telegram",
  "pk": "Pocket",
  "re": "Reddit",
  "ev": "Evernote",
  "in": "LinkedIn",
  "pi": "Pinterest",
  "sk": "Skype",
  "wa": "WhatsApp",
  "ok": "Odnoklassniki",
  "tu": "Tumblr",
  "hn": "Hacker News",
  "xi": "Xing",
  "mail": "EMail",
  "print": "Print",
  "copy": "Copy",
  "share": "WebShare API"
} %}


<div class="flex flex-col sm:flex-row sm:items-center gap-4 sm:gap-8"
     x-intersect.once="loadScript(`//cdn.jsdelivr.net/npm/share-buttons/dist/share-buttons.js`)">

  <div class="text-lg md:text-xl font-semibold whitespace-nowrap">Share Post</div>

  <div class="share-btn flex flex-wrap gap-4"
       data-title="{{ content.name|safe|striptags }}"
       data-desc="{{ content.meta_description|safe|striptags }}"
       data-url="{{ content.absolute_url }}">

    {% for item in module.share_button %}
      <a data-id="{{ item }}"
         href="#" @click="$event.preventDefault()"
         class="transition-all cursor-pointer hover:scale-125 [&>svg]:size-8">
        {% set icon_path = '../../images/icons/social/' + item + '.svg.html' %}
        {% include icon_path %}
        <span class="sr-only">{{ buttonName[item] }}</span>
      </a>
    {% endfor %}


  </div>
</div>
