{% from '../../macros/slugify.html' import slugify %}
{% from '../../macros/random-int.html' import random_int %}

{%- macro get_navbar_logo(classes) -%}
  <a href="{{ request.full_url | replace(request.path, '') }}" class="{{ classes or '-fj-m-1.5 fj-p-1.5' }}">
    <span class="fj-sr-only">{{ module.logo_image.alt or 'Company name' }}</span>
    {% if module.logo_image.src %}
      {% set loadingAttr = module.logo_image.loading != 'disabled' ? '' : '' %}
      <img src="{{ module.logo_image.src }}"
           class="fj-h-14 fj-w-auto"
           alt="{{ module.logo_image.alt or 'Company' }} logo"
           width="{{ module.logo_image.width }}"
           height="{{ module.logo_image.height }}"
           loading="{{ module.logo_image.loading or 'eager' }}">
    {% endif %}
  </a>
{%- endmacro -%}

{% set main_menu = menu(module.menu_id) %}


<header class="fj-bg-white fj-py-3"
        x-data="{
          mobileMenuOpen: false
        }">

  <nav class="container {{ 'fj-relative' if not module.full_width_dropdown_menus }} !fj-py-0 fj-flex fj-items-center fj-justify-between" aria-label="Global">

    {# Logo #}
    <div class="fj-flex lg:fj-flex-1">
      {{ get_navbar_logo() }}
    </div>


    {# Mobile Menu Toggle #}
    <div class="fj-flex lg:fj-hidden">
      <button type="button" class="-fj-m-2.5 fj-inline-flex fj-items-center fj-justify-center fj-rounded-md fj-p-2.5"
              @click="mobileMenuOpen=!mobileMenuOpen">
        <span class="fj-sr-only">Open main menu</span>
        <svg class="fj-h-6 fj-w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>


    {# Desktop Menu #}
    <div class="fj-hidden lg:fj-flex lg:fj-gap-x-12" data-menu-style="{{ module.menu_layout }}">
      {% if module.menu_layout == "superb" %} {# classic, modern, superb #}
        <div class="">TODO SuperB Menu</div>
      {% else %}
        {% if main_menu.children %}
          {% for child in main_menu.children %}
            {% set has_sub_child = child.children and ((child.children|first).children or (child.children|last).children) %}
            <div class="{{ 'fj-relative' if not has_sub_child or module.menu_layout == 'classic' }}" x-data="{open:false}">
              <a href="{{ child.url or "#" }}"
                 {%- if not child.url or child.children -%}
                 @click="$event.preventDefault(); open=!open;"
                 {%- endif -%}
                 class="fj-text-sm fj-font-semibold fj-leading-6 fj-text-current fj-flex fj-items-center fj-justify-center">
                <span>{{ child.label }}</span>
                {%- if child.children -%}
                  <svg class="fj-size-5 fj-flex-none origin-top" :class="open?'fj-rotate-180':''" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" /></svg>
                {%- endif -%}
              </a>
              {% if child.children %}
                {% if module.menu_layout == "modern" %}
                  {% set dropdown_styles = "fj-absolute fj-inset-x-0 fj-top-full fj-z-20 fj-px-16" %}
                  {% if not has_sub_child %}
                    {% set dropdown_styles = "fj-absolute -fj-left-8 fj-top-full fj-z-20 fj-mt-4 fj-w-screen fj-max-w-xs fj-overflow-hidden fj-rounded-md fj-bg-white fj-shadow-lg fj-ring-1 fj-ring-gray-900/5" %}
                  {% elif module.full_width_dropdown_menus %}
                    {% set dropdown_styles = "fj-absolute fj-inset-x-0 fj-mt-6 fj-z-20 fj-w-screen" %}
                  {% endif %}
                  <div class="{{ dropdown_styles }}"
                       x-show="open"
                       @click.away="open=false"
                       x-transition:enter="fj-transition fj-ease-out fj-duration-200"
                       x-transition:enter-start="fj-opacity-0 fj-translate-y-1"
                       x-transition:enter-end="fj-opacity-100 fj-translate-y-0"
                       x-transition:leave="fj-transition fj-ease-in fj-duration-150"
                       x-transition:leave-start="fj-opacity-100 fj-translate-y-0"
                       x-transition:leave-end="fj-opacity-0 fj-translate-y-1"
                       x-cloak>
                      <div class="fj-w-full fj-overflow-hidden fj-rounded-md fj-bg-white fj-shadow-lg fj-ring-1 fj-ring-gray-900/5">
                      {% if has_sub_child and module.full_width_dropdown_menus %}
                        <div class="container !fj-py-6">
                      {% endif %}
                      <div class="fj-p-4{% if has_sub_child %} fj-grid fj-gap-x-12 fj-gap-y-6 {{ child.children|length|float > 3 ? 'fj-grid-cols-4' : 'fj-grid-cols-3' }}{% endif %}">
                        {% for sub_child in child.children %}
                          <div class="">
                            {% if has_sub_child %}
                              <fieldset class="fj-rounded-md fj-border fj-border-gray-200 fj-p-2 fj-h-full">
                                <legend class="fj-font-bold fj-px-2">{{ sub_child.label }}</legend>
                            {% else %}
                              <div class="fj-group fj-relative fj-flex fj-gap-x-6 fj-rounded-lg fj-p-4 fj-text-sm fj-leading-6 hover:fj-bg-gray-50">
                                <a href="{{ sub_child.url or "#" }}"
                                   class="fj-font-semibold fj-text-current">
                                  {{ sub_child.label }}
                                  <span class="fj-absolute fj-inset-0"></span>
                                </a>
                              </div>
                            {% endif %}
                            {% for deep_sub_child in sub_child.children %}
                              <div class="fj-group fj-relative fj-flex fj-gap-x-6 fj-rounded-lg fj-p-4 fj-text-sm fj-leading-6 hover:fj-bg-gray-50">
                                <a href="{{ deep_sub_child.url or "#" }}"
                                   class="fj-font-semibold fj-text-current">
                                  {{ deep_sub_child.label }}
                                  <span class="fj-absolute fj-inset-0"></span>
                                </a>
                              </div>
                            {% endfor %}
                            {% if has_sub_child %}
                              </fieldset>
                            {% endif %}
                          </div>
                        {% endfor %}
                      </div>
                      {% if has_sub_child and module.full_width_dropdown_menus %}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                {% else %}
                  <div class="fj-absolute -fj-left-8 fj-top-full fj-z-20 fj-mt-3 fj-w-screen fj-max-w-xs fj-overflow-hidden fj-rounded-md fj-bg-white fj-shadow-lg fj-ring-1 fj-ring-gray-900/5"
                       x-show="open"
                       @click.away="open=false"
                       x-transition:enter="fj-transition fj-ease-out fj-duration-200"
                       x-transition:enter-start="fj-opacity-0 fj-translate-y-1"
                       x-transition:enter-end="fj-opacity-100 fj-translate-y-0"
                       x-transition:leave="fj-transition fj-ease-in fj-duration-150"
                       x-transition:leave-start="fj-opacity-100 fj-translate-y-0"
                       x-transition:leave-end="fj-opacity-0 fj-translate-y-1"
                       x-cloak>
                    <div class="fj-p-4">
                      {% for sub_child in child.children %}
                        <div class="fj-group fj-relative fj-flex fj-gap-x-6 fj-rounded-lg fj-p-4 fj-text-sm fj-leading-6 hover:fj-bg-gray-50">
                          <a href="{{ sub_child.url or "#" }}"
                             class="fj-block fj-font-semibold fj-text-current">
                            {{ sub_child.label }}
                            <span class="fj-absolute fj-inset-0"></span>
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}

      {% endif %}
    </div>


    {# CTA #}
    <div class="fj-hidden lg:fj-flex fj-flex-1 fj-justify-end fj-items-center fj-gap-8">
      {% for cta in module.call_to_actions %}
        {% if cta.style == "ghost" %}
          {% set cta_style = "fj-button fj-button--ghost fj-button--small" %}
        {% elif cta.style == "primary" %}
          {% set cta_style = "fj-button fj-button--small" %}
        {% else %}
          {% set cta_style = "fj-text-sm fj-font-semibold fj-leading-6 fj-text-current" %}
        {% endif %}
        {% set href = cta.link.url.href %}
        {% if cta.link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}"
           class="{{ cta_style }} fj-whitespace-nowrap"
           {% if cta.link.open_in_new_tab %}target="_blank"{% endif %}
          {% if cta.link.rel %}rel="{{ cta.link.rel }}"{% endif %}
        >{{ cta.title | striptags | safe }}</a>
      {% endfor %}
    </div>


  </nav>


  {# Mobile Menu #}
  <div class="lg:fj-hidden" role="dialog" aria-modal="true" x-cloak>
    <div class="fj-fixed fj-inset-0 fj-z-20 fj-backdrop-blur fj-bg-white/40"
         x-show="mobileMenuOpen" @click="mobileMenuOpen=false"
         x-transition:enter="fj-transition fj-ease-out fj-duration-200"
         x-transition:enter-start="fj-opacity-0"
         x-transition:enter-end="fj-opacity-100"
         x-transition:leave="fj-transition fj-ease-in fj-duration-150"
         x-transition:leave-start="fj-opacity-100"
         x-transition:leave-end="fj-opacity-0">
      {# Background backdrop, show/hide based on slide-over state. #}
    </div>
    <div class="fj-fixed fj-inset-y-0 fj-right-0 fj-z-20 fj-flex fj-w-full fj-flex-col fj-justify-between fj-overflow-y-auto fj-bg-white sm:fj-max-w-sm sm:fj-ring-1 sm:fj-ring-gray-900/10"
         x-show="mobileMenuOpen"
         x-transition:enter="fj-transition fj-ease-out fj-duration-200"
         x-transition:enter-start="fj-opacity-0 !fj-translate-x-96"
         x-transition:enter-end="fj-opacity-100 fj-translate-x-0"
         x-transition:leave="fj-transition fj-ease-in fj-duration-150"
         x-transition:leave-start="fj-opacity-100 fj-translate-x-0"
         x-transition:leave-end="fj-opacity-0 !fj-translate-x-96">
      <div class="fj-px-6 fj-py-2.5">
        <div class="fj-flex fj-items-center fj-justify-between">
          {{ get_navbar_logo() }}
          <button type="button" class="-fj-m-2.5 fj-rounded-md fj-p-2.5"
                  @click="mobileMenuOpen=!mobileMenuOpen">
            <span class="fj-sr-only">Close menu</span>
            <svg class="fj-h-6 fj-w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="fj-mt-6 fj-flow-root">
          <div class="">
            {% if module.menu_layout == "superb" %} {# classic, modern, superb #}
              <div class="">TODO SuperB Menu</div>
            {% else %}
              {% if main_menu.children %}
                <div class="fj-space-y-2.5 fj-divide-y fj-divide-gray-100">
                  {% for child in main_menu.children %}
                    {% set x_ref_id = slugify(child.label) ~ '_' ~ random_int() ~ loop.index %}
                    <div class="fj-pt-2.5" x-data="{open:false}" @click.away="open=false" :aria-expanded="open">
                      <div class="fj-group fj-relative fj-flex fj-gap-x-6 fj-rounded-lg fj-p-4 fj-text-sm fj-leading-6"
                           :class="open?'fj-bg-gray-100 fj-rounded-bl-none':'hover:fj-bg-gray-50'">
                        <a href="{{ child.url or "#" }}" {% if not child.url or child.children %}@click="$event.preventDefault(); open=!open;"{% endif %}
                           class="fj-flex fj-justify-between fj-w-full fj-font-semibold !fj-text-current">
                          <span class="fj-absolute fj-inset-0"></span>
                          <span>{{ child.label }}</span>
                          {%- if child.children -%}
                            <svg class="fj-size-5 fj-flex-none origin-top" :class="open?'fj-rotate-180':''" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" /></svg>
                          {%- endif -%}
                        </a>
                      </div>
                      {% if child.children %}
                        {% set has_sub_child = child.children and ((child.children|first).children or (child.children|last).children) %}
                        <div class="fj-border-l-4 fj-border-gray-100 {{ 'fj-pl-2.5' if not has_sub_child }} fj-relative fj-overflow-hidden fj-max-h-0 fj-transition-all fj-duration-300"
                             x-ref="{{ x_ref_id }}" :style="open?`max-height:${$refs['{{x_ref_id}}'].scrollHeight}px`:``">
                          {% for sub_child in child.children %}
                            {% if has_sub_child and module.menu_layout == "modern" %}
                              <div class="">
                                <div class="fj-px-5 fj-py-1.5 fj-mt-2.5 fj-text-sm fj-font-semibold fj-bg-gradient-to-r fj-from-gray-100 fj-to-white">{{ sub_child.label }}</div>
                                <div class="fj-pl-2.5">
                                  {% for deep_sub_child in sub_child.children %}
                                    <div class="fj-group fj-relative fj-flex fj-gap-x-6 fj-rounded-lg fj-p-2 fj-my-2.5 fj-text-sm fj-leading-6 hover:fj-bg-gray-50">
                                      <a href="{{ deep_sub_child.url or "#" }}"
                                         class="fj-font-semibold fj-text-current">
                                        <span class="fj-absolute fj-inset-0"></span>
                                        {{ deep_sub_child.label }}
                                      </a>
                                    </div>
                                  {% endfor %}
                                </div>
                              </div>
                            {% else %}
                              <div class="fj-group fj-relative fj-flex fj-gap-x-6 fj-rounded-lg fj-p-2 fj-my-2.5 fj-text-sm fj-leading-6 hover:fj-bg-gray-50">
                                <a href="{{ sub_child.url or "#" }}"
                                   class="fj-font-semibold fj-text-current">
                                  <span class="fj-absolute fj-inset-0"></span>
                                  {{ sub_child.label }}
                                </a>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>

      <div class="fj-sticky fj-bottom-0 fj-grid fj-grid-cols-2 fj-divide-x fj-divide-gray-900/5 fj-bg-gray-100 fj-items-center fj-text-center">
        {% for cta in module.call_to_actions %}
          {% if cta.style == "ghost" %}
            {% set cta_style = "fj-button fj-button--ghost" %}
          {% elif cta.style == "primary" %}
            {% set cta_style = "fj-button" %}
          {% else %}
            {% set cta_style = "fj-text-sm fj-font-semibold fj-leading-6 fj-text-current" %}
          {% endif %}
          {% set href = cta.link.url.href %}
          {% if cta.link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}"
             class="{{ cta_style }} fj-button--square fj-whitespace-nowrap"
             {% if cta.link.open_in_new_tab %}target="_blank"{% endif %}
            {% if cta.link.rel %}rel="{{ cta.link.rel }}"{% endif %}
          >{{ cta.title | striptags | safe }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</header>

