<div class="fj-not-prose fj-grid fj-gap-4 sm:fj-gap-8 fj-max-w-lg lg:fj-max-w-3xl fj-mx-auto">
  {% if module.rating > 0 %}
    <div class="fj-flex">
      {% for i in range(module.rating) %}
        <svg class="fj-size-5" viewBox="0 0 20 20" fill="#4F46E6" aria-hidden="true">
          <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
        </svg>
      {% endfor %}
    </div>
  {% endif %}

  <blockquote class="fj-text-xl md:fj-text-2xl">
    <p class="fj-font-semibold">{{ module.blockquote }}</p>
  </blockquote>

  {% if module.author_name %}
    <div class="fj-flex fj-items-center fj-gap-4">
      {% if module.author_photo.src %}
        <img class="fj-size-12 fj-rounded-full fj-object-cover"
             width="48" height="48"
             src="{{ resize_image_url(module.author_photo.src, 48, 48, 48) }}"
             alt="{{ module.author_photo.alt|escape_attr }}" loading="lazy">
      {% endif %}

      <div class="fj-text-base fj-break-words">
        <p class="fj-font-bold">{{ module.author_name or "" }}</p>
        {% if module.author_job_title %}
          <p>{{ module.author_job_title or "" }}</p>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>
