<div class="fj-flex fj-items-center fj-gap-3">
  {% for item in module.social_items %}
    {% set current_icon_color = not module.gl_icon_color_enable ? item.individual_icon_color : module.global_icon_color %}
    {% set current_bg_icon_color = not module.gl_icon_bg_color_enable ? item.individual_icon_background_color : module.global_background_color %}

    {% set icon_color = 'rgba(' ~ current_icon_color.color|convert_rgb ~ ',' ~ current_icon_color.opacity / 100 ~ ')' %}
    {% set icon_bg_color = 'rgba(' ~ current_bg_icon_color.color|convert_rgb ~ ',' ~ current_icon_color.opacity / 100 ~ ')' %}

    <div class="fj-flex fj-items-center fj-justify-center fj-size-11 fj-rounded-full" style="background: {{ icon_bg_color }}; fill: {{ icon_color }}">

      <div class="fj-size-5">
        <label class="fj-sr-only">{{ item.icon_name }}</label>
        {% icon
        name="{{ item.social_icon.name }}"
        style="{{ item.social_icon.type }}"
        unicode="{{ item.social_icon.unicode }}"
        icon_set="{{ item.social_icon.icon_set }}"
        %}
      </div>

      {% set href = item.link_field.url.href %}
      {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}
      <a class="fj-absolute"
        {% if item.link_field.url.type is equalto "CALL_TO_ACTION"  %}
          href="{{ href }}"
        {% else %}
          href="{{ href|escape_url }}"
        {% endif %}
        {% if item.link_field.open_in_new_tab %}
          target="_blank"
        {% endif %}
        {% if item.link_field.rel %}
          rel="{{ item.link_field.rel|escape_attr }}"
        {% endif %}
      >{# Golden Silence #}</a>
    </div>
  {% endfor %}
</div>
