{% if module.timeframe | length == 2 %}
  {% set grid_col_class = 'lg:fj-grid-cols-2' %}
{% endif %}

{% if module.timeframe | length == 3 %}
  {% set grid_col_class = 'lg:fj-grid-cols-3' %}
{% endif %}

{% if module.timeframe | length >= 4 %}
  {% set grid_col_class = 'lg:fj-grid-cols-4' %}
{% endif %}

<div class="fj-not-prose fj-py-32 fj-gap-4 lg:fj-gap-8 fj-grid fj-grid-cols-1 {{ grid_col_class or '' }}">
  {% for item in module.timeframe %}
    <div class="fj-grid fj-gap-2">
      <div class="fj-flex fj-items-center fj-gap-4 fj-text-sm fj-font-semibold fj-leading-6 fj-text-blue-600">
        <svg viewBox="0 0 4 4" class="fj-size-1 fj-flex-none" aria-hidden="true">
          <circle cx="2" cy="2" r="2" fill="currentColor" />
        </svg>
        {{ item.date }}
        <div class="fj-absolute fj-h-px fj-bg-blue-600 lg:fj-static fj-w-auto fj-flex-auto lg:fj-translate-x-0"></div>
      </div>

      <p class="fj-text-2xl fj-font-semibold">{{ item.title }}</p>

      <p class="fj-text-base">{{ item.description }}</p>
    </div>
  {% endfor %}
</div>
